/* Estilo da Scrollbar (WebKit) */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background: #1E1E1E;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 3px;
}

/* Firefox */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #444444 #1E1E1E;
}
